.Halil-NotFpounPage {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Halil-NotFpounPage .Img {
  mix-blend-mode: darken;
  user-select: none;
  width: 200px;
  display: block;
  padding-top: 30px;
}
.Error {
  z-index: -11;
  font-size: 15rem;
  font-weight: bold;
  color: rgba(93, 94, 93, 0.499);
  position: absolute;
  top: 50px;
  right: 50%;
  transform: translate(45%, 0);
  font-family: var(--font-primary);
  opacity: 0.7;
}
.content {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.Halil-NotFpounPage .p-1 {
  text-align: center;
  font-weight: bold;
  font-family: var(--font-primary);
  font-size: 1.4rem;
  margin:  5px 0;
}
.Halil-NotFpounPage .p-2 {
  font-weight: 700;
  text-align: center;
}
.Halil-NotFpounPage .p-3 {
  background: linear-gradient(to left, #1dcffc, #ac01ff);
  width: fit-content;
  border-radius: 10px;
  padding: 10px 40px;
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 20px;
}
@media (max-width: 780px) {
  .Halil-NotFpounPage .Error {
    display: none;
  }
  .content {
    margin: 0;
  }
  .content .Img {
    width: 250px;
  }
}
