.st-profil-conanier {
  display: flex;
  gap: 60px;
  width: 100%;
  position: relative;
  flex-direction: column;
}
.st-profil-conanier .profil_header .profilimg {
  width: 160px;
}

.profil_header-sttintgs {
  position: absolute;
  top: 30px;
  z-index: 2;
  overflow: hidden;
}
.profil_header-sttintgs .profilimgs {
  top: -11px;
}
.profile-container .form-group {
  display: flex;
  align-items: center;
  width: 48%;
  flex-direction: column;
  align-items: flex-start;
}
.profile-container .update-btn {
  width: 100%;
  background-color: transparent;
}
.profile-form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}
/* ProfileForm.css */

.profile-form .form-group {
  margin-bottom: 10px;
}

.profile-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #ffffff;
}

.profile-form input,
.profile-form textarea {
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #cccccc4f;
  background-color: transparent;
  font-size: 15px;
  transition: 0.3s;
  color: rgb(255, 255, 255);
}
.profile-form textarea {
  resize: vertical;
  min-height: 120px;
  max-height: 260px;
}

.profile-form input:focus,
.profile-form textarea:focus {
  border-color: #baeaf7;
  box-shadow: 0 0 0 2px rgba(57, 131, 150, 0.3);
}

.update-btn button {
  padding: 12px;
  background: linear-gradient(45deg, #aa01ff8f, #1dcffc94); /* التدرج */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.profile-container {
  width: 100%;
  margin-top: 20px;
}
.update-btn button:hover {
  background: linear-gradient(90deg, #aa01ff8f, #1dcffc94); /* التدرج */
}
.success-msg,
.error-msg {
  position: fixed;
  top: 0px;
  right: 30px;
  z-index: 9999;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
  animation: fadeInOut 2s ease-in-out;
}

.error-msg {
  color: red;
  background: linear-gradient(90deg, #eeccff, #a1ecffea); /* التدرج */
}
.success-msg {
  color: #175803;
  background: linear-gradient(90deg, #eeccff, #a1ecffea); /* التدرج */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}
@media (max-width: 1000px) {
  .profile-form {
    flex-direction: column;
  }
  .profile-container .form-group {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
}
