.D-box {
  background-color: color-mix(in srgb, var(--main-color) 10%, transparent);
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
  height: 30vh;
  width: 290px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconkreis {
  background-color: color-mix(
    in srgb,
    var(--main-color) 25%,
    rgba(255, 255, 255, 0)
  );
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.courses-number {
  font-size: 28px;
  font-weight: bold;
  color: color-mix(in srgb, var(--main-color) 90%, black);
}

.courses-name {
  font-size: 16px;
  color: color-mix(in srgb, var(--main-color) 70%, black);
}
