.team-banner {
  width: 100%;
  padding: 12px 0;
  justify-content: center;
  margin-top: 10px;
}
.g-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-dot {
  width: 12px;
  height: 10px;
  background: #ac01ff;
  border-radius: 50%;
  box-shadow: 0 0 10px #ac01ff;
}
.team-glass {
  min-width: 60%;
  padding: 12px 28px;
  border-radius: 18px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid #aa01ff42;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 0 7px rgba(154, 90, 255, 0.15);
  animation: floatIn 0.6s ease;
}

.team-glass p {
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  color: #d9c7ff;
  font-size: 10px;
  align-items: center;
  gap: 10px;
}

.team-glass a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  gap: 5px;
}

.team-glass a::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #a463ff;
  transition: 0.3s ease;
}

.team-glass a:hover::after {
  width: 100%;
}

.team-arrow {
  font-size: 18px;
  color: #a463ff;
  animation: arrowPulse 1.5s infinite;
}

@keyframes floatIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes arrowPulse {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-4px);
  }
}

@media (min-width: 576px) {
  .team-glass {
    width: fit-content;
    flex-direction: row;
    padding: 12px 20px;
    gap: 12px;
  }

  .team-glass p {
    font-size: 15px;
  }

  .team-arrow {
    font-size: 17px;
  }
  .d3-curses .box_text h3 {
    font-size: 31px;
  }
}

@media (min-width: 768px) {
  .team-glass {
    width: 80%;
    max-width: 820px;
    padding: 14px 28px;
    border-radius: 18px;
  }

  .team-glass p {
    font-size: 15px;
  }

  .team-arrow {
    font-size: 18px;
  }
}