.team-banner {
  width: 100%;
  padding: 12px 0;
  justify-content: center;
  margin-top: 10px;
}
/* */
.g-home .container {
  max-width: 90%;
}

.g-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.g-home main {
  /* border: 1px solid red; */
  margin: 75px auto;
}

.team-dot {
  width: 12px;
  height: 10px;
  background: #ac01ff;
  border-radius: 50%;
  box-shadow: 0 0 10px #ac01ff;
}

.team-glass {
  min-width: 60%;
  padding: 12px 28px;
  border-radius: 18px;

  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid #aa01ff42;

  justify-content: center;
  gap: 10px;

  box-shadow: 0 0 7px rgba(154, 90, 255, 0.15);
  animation: floatIn 0.6s ease;
}

.team-glass p {
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  color: #d9c7ff;
  font-size: 10px;
  align-items: center;
  gap: 10px;
}

.team-glass a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  gap: 5px;
}

.team-glass a::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #a463ff;
  transition: 0.3s ease;
}

.team-glass a:hover::after {
  width: 100%;
}

.team-arrow {
  font-size: 18px;
  color: #a463ff;
  animation: arrowPulse 1.5s infinite;
}

@keyframes floatIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes arrowPulse {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-4px);
  }
}

@media (min-width: 576px) {
  .team-glass {
    width: fit-content;
    flex-direction: row;
    padding: 12px 20px;
    gap: 12px;
  }

  .team-glass p {
    font-size: 15px;
  }

  .team-arrow {
    font-size: 17px;
  }
  .d3-curses .box_text h3 {
    font-size: 31px;
  }
}

@media (min-width: 768px) {
  .team-glass {
    width: 80%;
    max-width: 820px;
    padding: 14px 28px;
    border-radius: 18px;
  }

  .team-glass p {
    font-size: 15px;
  }

  .team-arrow {
    font-size: 18px;
  }
}

.main_img {
  width: 50%;
} /* هون عامل عرض للصورة 50% من المساحة */

.main_img img {
  width: 100%;
  margin-left: 40px;
} /* تكبير الصورة بعرض كامل وتحريكها شوي لليسار */

.main_text {
  width: 50%;
} /* النص ياخد نص الشاشة */

main {
  height: 74vh;
  gap: 40px;
  height: 100%;
  margin: 50px 0 150px;
} /* تنسيق الفراغات والمسافات حوالين المحتوى */

.main_text p:first-child {
  font-size: 23px;
  background: linear-gradient(to left, #1dcffc, #ac01ff); /* تدرج لوني */
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  margin: 0;
  -webkit-text-fill-color: transparent;
} /* أول سطر نص عم تعملو بتدرج لوني */

.main_text p {
  margin: 30px 0;
  color: var(--color-text-muted);
} /* المسافة بين الفقرات ولون خفيف للنص */

.main_text h3 {
  font-size: 66px;
  margin: 10px 0;
} /* العنوان الكبير */

.main_text h3 span {
  background: linear-gradient(50deg, #7c4dff 0%, #00b4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  -webkit-text-fill-color: transparent;
} /* الكلمة الملونة بتدرج */

.startd_box {
  display: flex;
  gap: 20px;
  margin-top: 37px;
} /* ترتيب الزر مع الأيقونة جنب بعض */

main .learn_more {
  gap: 10px;
} /* فراغ بسيط بين النص وزر التشغيل */

main .play {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 1px;
  background: linear-gradient(to left, #1dcffc, #ac01ff);
  box-shadow: var(--box-shadow);
  transition: all 1s;
} /* شكل دائرة الزر الي فيه السهم */

.play span {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-bg-dark);
  border-radius: 50%;
  color: white;
  font-weight: bold;
} /* وسط الدائرة الي فيه أيقونة التشغيل */

main .play:hover {
  cursor: pointer;
  transform: rotate(180deg);
} /* لما تمرر الماوس تلف الدائرة */

main .buttun {
  transition: all 1s;
  font-size: 18px;
  padding: 12px 40px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  background: linear-gradient(to left, #1dcffc, #ac01ff);
} /* زر البداية */

main .buttun:hover {
  transform: scale(0.8);
  background: linear-gradient(60deg, #1dcffc, #ac01ff);
} /* تأثير تكبير/تصغير عند الهوفر */

@media (max-width: 1300px) {
  .main_img {
    width: 100%;
    text-align: center;
  } /* لما تصغر الشاشة الصورة تصير فوق وتأخذ عرض كامل */

  .main_text {
    width: 100%;
  } /* النص تحت الصورة وياخد عرض كامل */

  main {
    display: flex;
    flex-wrap: wrap;
  } /* المحتوى يصير سطرين */

  .main_img img {
    width: 70%;
  } /* تصغير الصورة */

  .main_text h3 {
    font-size: 40px;
  } /* العنوان يصغر */
}

@media (max-width: 568px) {
  .main_text h3 {
    font-size: 30px;
  }
}

/* 3d-curses our_working */
.d3-curses {
  margin-bottom: 95px;
  display: flex;
  flex-direction: column;
  gap: 18px;
} /* قسم الكورسات */

.d3-curses .boxs_tob {
  width: 100%;
} /* الصف الي فيه الكروت */

.d3-curses .box img {
  width: 100px;
} /* حجم صورة كل كورس */

.d3-curses .border_box {
  background: var(--color-bg-dark);
  color: white;
  border-radius: 30px;
  padding: 25px;
} /* شكل البوكس الي فيه قراءة المزيد */

.d3-curses .box {
  width: 24%;
  border-radius: 30px;
  padding: 0.3px;
  border: solid 0.5px #efeff31c;
  box-shadow: var(--box-shadow);
} /* كل كرت كورس 4 كروت بالصف */

.d3-curses .box:hover {
  padding: 0.3px;
  background: linear-gradient(50deg, #1dcffc, #ac01ff);
} /* لما تمرر الماوس يصير له تدرج لوني */

.d3-curses .box:hover img {
  transform: translateY(-10px);
} /* الصورة تطلع لفوق شوي */

.d3-curses .box img {
  transition: all 0.5s;
} /* حركة الصورة ناعمة */

.box_text {
  width: 49%;
  padding: 20px;
} /* النص الي مع الكروت*/

.d3-curses .box_text h5 {
  background: linear-gradient(50deg, #7c4dff 0%, #00b4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  margin: 0;
} /* العنوان الصغير */

.d3-curses .box_text h3 {
  font-size: 55px;
  margin: 0;
} /* عنوان الكورسات */

.d3-curses .box_text span {
  background: linear-gradient(50deg, #7c4dff 0%, #00b4ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  -webkit-text-fill-color: transparent;
} /* تدرج داخل النص */

.d3-curses .border_box .ReadMore {
  display: flex;
  align-items: center;
  gap: 10px;
} /* نص اقرأ المزيد مع السهم */

.d3-curses .box:hover .FaArrow {
  transform: translateX(-10px);
} /* السهم يتحرك عند الهوفر */

.d3-curses .box .FaArrow {
  transition: all 0.5s;
  font-size: 14px;
} /* أنميشن السهم */

.d3-curses .box_text button {
  padding: 15px 35px;
  background: linear-gradient(to left, #1dcffc, #ac01ff);
  border: none;
  font-size: 18px;
  color: var(--color-text-light);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
} /* زر اقرأ المزيد   */

.d3-curses .box_text button:hover {
  transform: scale(0.9);
} /* الزر يصغر شوي عند الهوفر */

.d3-curses .box_text p {
  margin-bottom: 30px;
  width: 70%;
  color: var(--color-text-muted);
} /* تحت النص مسافة */

@media (max-width: 1300px) {
  .d3-curses .boxs_tob {
    gap: 14px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  } /* الكروت تنزل تحت بعض على الشاشات الصغيرة */

  .d3-curses .box {
    width: 48%;
  } /* كل كرت ياخد نص العرض */

  .d3-curses .box_text {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .d3-curses .box {
    width: 100%;
  } /* على الموبايل كل كرت عرض كامل */
  .elementor-section {
    align-items: center;
    justify-content: center;
  }
  .d3-curses .box_text h3 {
    font-size: 35px;
    margin: 0;
  }
  .d3-curses .box_text button {
    padding: 8px 24px;
    font-size: 16px;
  }
  .d3-curses .box_text p {
    margin-bottom: 24px;
    width: 100%;
  }
  main {
    margin: 79px 0 56px;
  }
  .main_text p {
    font-size: 12px;
    margin: 30px 0;
  }
  .main_text p:first-child {
    font-size: 17px;
  }
}
/* our  */
.coursesSectionTitle {
  margin-top: 75px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our_working {
  margin-top: 50px;
}

.our_working .our_container p:first-child {
  font-size: 20px;
  background: linear-gradient(50deg, #7c4dff 0%, #00b4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  -webkit-text-fill-color: transparent;
}

.our_list ul {
  padding: 0;
}

.our_container h3 {
  font-size: 40px;
  margin: 0;
}

.our_container .pour {
  color: var(--color-text-muted);
}

.our_list li {
  display: flex;
  align-items: center;
}

.our_list .our_creis {
  min-width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-color: var(--color-bg-box-border);
  border: solid 1px rgba(221, 221, 221, 0.123);
  box-shadow: var(--box-shadow);
  transition: all 1s;
}

.our_list .our_creis.akivs {
  transition: all 1s;
  background: linear-gradient(50deg, #7c4dff 40%, #00b4ff 100%);
}
.our_list .our_creis:hover {
  background: linear-gradient(80deg, #7c4dff 60%, #00b4ff 100%);
}

.our_list .our_creis svg {
  font-size: 25px;
}
.our_list .text_our p {
  color: var(--color-text-muted);
}

.working-steps {
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
  align-items: flex-start;
}

.liner {
  height: 50%;
  opacity: 0.8;
  background-color: var(--color-text-muted);
  bottom: 75px;
  width: 1px;
  right: 49px;
  position: absolute;
}
.our_list {
  position: relative;
}
.text_our {
  margin-right: 30px;
}
.working_img {
  width: 50%;
}
.working_img img {
  width: 100%;
}
.our_container {
  width: 50%;
}

@media (max-width: 1300px) {
  .our_working {
    flex-direction: column;
  }
  .our_container {
    width: 100%;
  }
  .working_img {
    text-align: center;
    width: 100%;
  }
  .working_img img {
    width: 50%;
  }
  .liner {
    height: 35%;
    opacity: 0.8;
    background-color: var(--color-text-muted);
    top: 200px;
    width: 1px;
    right: 50px;
    position: absolute;
  }
}
@media (max-width: 1200px) {
  .liner {
    height: 35%;
    opacity: 0.8;
    background-color: var(--color-text-muted);
    top: 170px;
    width: 1px;
    right: 50px;
    position: absolute;
  }
}
@media (max-width: 800px) {
  .liner {
    height: 42.5%;
    opacity: 0.8;
    background-color: var(--color-text-muted);
    top: 200px;
    width: 1px;
    right: 50px;
    position: absolute;
  }
  .elementor-section .num_box {
    width: 50%;
    text-align: center;
  }
}

@media (max-width: 568px) {
  .working_img {
    display: none;
  }

  .our_container h3 {
    font-size: 35px;
  }

  .our_working p {
    font-size: 15px;
  }

  .liner {
    min-height: 60%;
    top: 200px;
    right: 45px;
  }

  .our_list .our_creis {
    height: fit-content;
    min-width: fit-content;
    padding: 15px;
  }

  .text_our h2 {
    font-size: 22px;
  }
}

.elementor-section {
  margin: 60px auto 0px;
  flex-wrap: wrap;
  box-shadow: var(--box-shadow);
  border-radius: 26px;
  background-color: var(--color-bg-dark);
  padding: 10px 30px;
  border: solid 0.5px rgba(173, 170, 170, 0.342);
  justify-content: space-between;
}

.elementor-section .num_number {
  font-size: 42px;
  font-weight: 700;
}
.elementor-section .num_icon {
  font-size: 33px;
  margin-left: 10px;
  font-weight: 500;
}
.elementor-section .num_box {
  padding: 14px;
}
.elementor-section .num_box {
  text-align: center;
}
.elementor-section .el_text {
  color: var(--color-text-muted);
}
