.card {
  position: relative;
  width: 350px;
  min-height: 550px;
  border-radius: 20px;
  padding: 1px;
  background: linear-gradient(#1f232f, #1f232f) padding-box,
    linear-gradient(90deg, #ac01ff, #1dcffc) border-box;
  border: 1px solid transparent;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card:hover {
  background: linear-gradient(#1f232f, #1f232f) padding-box,
  linear-gradient(90deg, #1dcffc, #ac01ff) border-box;
}

/* صورة الكرت */
.card-image {
  width: 100%;
}

.card-image img {
  display: block;
  width: 95%;
  height: auto;
  padding: 20px 15px 5px 15px;
  border-radius: 35px;
  object-fit: cover;
  margin: auto;
}

/* النجوم والسعر */
.startsAndPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px 0 20px;
}

.price {
  font-weight: 500;
  font-size: 17px;
}

.price strong {
  color: #1dcffc;
  margin-right: 3px;
}

/* النجوم */
.starts p {
  font-size: 15px;
  margin: 0;
}

.starts span {
  letter-spacing: 1px;
  color: #edb60a;
}

.starts span.empty-stars {
  color: white;
}

/* محتوى الكرت */
.card-content {
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-title {
  font-size: 18px;
  margin: 0;
}

.card-description {
  font-size: 15px;
  color: white;
  margin: 0;
  line-height: 1.6;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*  اقرأ المزيد + زر الحفظ */
.readMoreRow {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* زر الحفظ */
.save-btn-inline {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #9aa0a7;
  display: flex;
  align-items: center;
  transition: transform 0.15s ease, color 0.15s ease;
}

.save-btn-inline:hover {
  transform: scale(1.1);
}

/* بعد الكبس على زر الحفظ */
.save-btn-inline.active {
  color: #edb60a;
}

/* اقرأ المزيد */
.readMoreLink-inner {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 576px) {
  .card {
    max-width: 90%;
    margin: 10px 0;
    min-height: 410px;
  }

  .card-image img {
    padding: 15px 10px 5px 10px;
  }

  .card-content {
    padding: 8px 15px 15px 15px;
  }
}