.coursesHero {
  margin-bottom: 30px;
  margin-top: 60px;
}
/* محتوى القسم */
.coursesHero .courses-image-content {
  display: flex;
  justify-content: center;
}
/* النصوص */
.coursesHero .courses-hero-content {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  padding-top: 50px;
}
/* العنوان ( الدورات ) */
.coursesHero .courses-hero-content .courses-hero-title {
  margin-bottom: 0 !important;
  font-weight: 600;
  background: linear-gradient(90deg, #ac01ff, #1dcffc);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 40px;
}
/* الدسكربشن تحت العنوان */
.coursesHero .courses-hero-content .courses-hero-description {
  max-width: 500px;
  line-height: 1.8;
  font-size: 18px;
}

/* الزر */
.coursesHero .courses-hero-content .page-title-hero-btn {
  padding: 10px;
  border-radius: 10px;
  border: none;
  min-width: fit-content;
  max-width: fit-content;
  color: white;
  font-weight: bold;
  font-family: var(--font-primary);
  background: linear-gradient(
    45deg,
    var(--color-primary-purple) 30%,
    var(--color-primary-blue)
  );
  transition: 0.5s;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

/* عند تمرير الماوس على الزر */
.coursesHero .courses-hero-content .page-title-hero-btn:hover {
  background: linear-gradient(
    45deg,
    var(--color-primary-blue) 35%,
    var(--color-primary-purple)
  );
}

/* الصورة */
.coursesHero .courses-hero-image {
  width: 100%;
  max-width: 35%;
  height: auto;
  margin: 0 auto;
}

.coursesHero .courses-hero-image img {
  width: 90%;
  height: auto;
  object-fit: cover;
}

/* الخط */
.coursesHero .courses-hero-line {
  width: 100%;
  height: 1.5px;
  background: rgba(255, 255, 255, 0.18);
  margin: 35px auto 10px;
}

/* المحتوى يلي تحت الخط */
.coursesHero .courses-hero-subtext {
  font-size: 17px;
  color: #e6e6e6;
  opacity: 0.9;
}

.coursesHero .courses-image-content {
  flex-direction: column;
  text-align: center !important;
}

.coursesHero .courses-hero-content {
  width: 100%;
  text-align: center !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0 !important;
}

.coursesHero .courses-hero-content .page-title-hero-btn {
  margin-top: 20px;
}

.coursesHero .courses-hero-line {
  width: 80%;
}

.coursesHero .courses-hero-image {
  margin: 0 auto;
  max-width: 100%;
}

/* ريسبونسف */

/*موبايل صغيؤ*/

/*موبايل*/
@media (min-width: 320px) {
  .coursesHero{
     margin-top: 40px;
  }

  .coursesHero .courses-hero-image {
    max-width: 70%;
  }
  .coursesHero .courses-hero-content{
    margin-top: 0;
  }
   .coursesHero .courses-hero-content .courses-hero-description {
    font-size: 15px;
  }
  .coursesHero .courses-hero-content .courses-hero-title {
    font-size: 30px;
  }
  .coursesHero .courses-hero-subtext{
    font-size: 13px;
  }
}

@media (min-width: 576px) {
   .coursesHero{
     margin-top: 40px;
  }
  .coursesHero .courses-hero-image {
    max-width: 70%;
  }
  .coursesHero .courses-hero-content{
    margin-top: 0;
  }
   .coursesHero .courses-hero-content .courses-hero-description {
    font-size: 15px;
  }
  .coursesHero .courses-hero-content .courses-hero-title {
    font-size: 30px;
  }
  .coursesHero .courses-hero-subtext{
    font-size: 13px;
  }
}

/* (تابلت) */
@media (min-width: 768px) {
  .coursesHero .courses-hero-image {
    max-width: 50%;
  }

}

/*لابتوب*/
@media (min-width: 992px) {
  .coursesHero .courses-image-content {
    flex-direction: row;
    text-align: initial !important;
  }
  .coursesHero .courses-hero-content {
    width: auto;
    display: block;
    text-align: initial !important;
    align-items: initial;
    margin-right: 100px !important;
  }

  .coursesHero .courses-hero-line {
    width: 100%;
  }

  .coursesHero .courses-hero-image {
    max-width: 35%;
  }
}

/* شاشة كبيرة */
@media (min-width: 1200px) {
  .coursesHero .courses-hero-content .courses-hero-title {
    font-size: 42px;
  }

  .coursesHero .courses-hero-content .courses-hero-description {
    font-size: 20px;
  }
}
