.coursesPage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 0;
  margin-bottom: 0;
}
/* الكروت*/
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
}


/*  شاشة كبيرة جداً  */

@media (min-width: 1200px) {
  .cards {
    gap: 30px;
  }
}

/*شاشة متوسطة*/
@media (max-width: 1024px) {
  .cards {
    gap: 20px;
  }
}

/*جوال كبير  */

@media (max-width: 768px) {

  .coursesPage {
    padding: 0 20px;
  }

   .cards {
    flex-direction: column;
    align-items: center;
  }
}

/* جوال صغير */

@media (max-width: 576px) {
  .cards {
    gap: 15px;
  }

  .coursesPage {
    padding: 0 15px;
    
  }

  .card {
    width: 100% !important;
  }

  
}
